@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  /* font-weight: 600;
  font-style: normal; */
}


/* body{
  background: black;
} */